.header{
  font-family: "Montserrat", sans-serif;
  padding: 30px;
  display: flex;
  justify-content: space-between;


}

#short_name, #short_numbers {
  font-size: 20px;
}

@media (max-width: 847px) {
  #long_name, #long_numbers {
    display: none;
  }
}

@media (min-width: 847px) {
  #short_name, #short_numbers {
    display: none;
  }
}

.name {
  font-family: inherit;
  font-size: 2rem;
  font-style: oblique;
  /*font-weight: bold;*/
}

.numbers {
  display: flex;
  gap: 20px;
  font-size: 25px;
}
