@import "src/assets/style/variables";

#point_form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  //background: $main_color;
  justify-content: center;
  padding: 60px;
  border-radius: 10px;
  div{
    label{
      margin-right: 10px;
    }
  }
  .change  {
    width: 250px;
  }
}

.errors {
  color: red;
}

.button_container{
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-left: 20px;
}

